<% if recipe.favorited_by?(current_customer) %>
  <%= link_to recipe_favorites_path(recipe), method: :delete, remote: true do %>
    <div class="col"><i class="fas fa-bookmark fa-3x text-center bookmarktag"></i></div>
    <div class="rd-title bookmarktag recipe-moji">ブックマーク</div>
  <% end %>
<% else %>
  <%= link_to recipe_favorites_path(recipe), method: :post, remote: true do %>
      <div class="col"><i class="far fa-bookmark fa-3x text-center bookmarktag"></i></div>
      <div class="rd-title bookmarktag ">ブックマーク</div>
  <% end %>
<% end %>