<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h2>トップページ</h2>
        <div class="ul">
          <li class=""><%= link_to "栄養素表示", admin_material_details_path %></li>
          <li class=""><%= link_to "ユーザ一覧", admin_customers_path %></li>
          <li><%= link_to "カテゴリ確認", admin_categories_path %></li>
        </div>

      </div>
    </div>
  </div>
</div>