<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h2>トップページ</h2>
        <%= link_to "栄養素表示", admin_material_details_path %>
        <%= link_to "ユーザ一覧", admin_customers_path %>
        <%#= link_to "category", admin_categories_path %>
      </div>
    </div>
  </div>
</div>