 <% comments.each do |comment| %>
  <div>
    <div><strong><%= comment.customer.name %></strong></div>
    <div class="pl-1"><%= comment.comment %>
      <% if comment.customer.id == current_customer.id || comment.explanation.recipe.customer.id == current_customer.id %><!--レシピ投稿者とコメント投稿者のみ削除できる-->
        <%= link_to recipe_comments_path(recipe_id: comment.explanation.recipe, comment_id: comment.id, explanation_id: comment.explanation.id), method: :delete, remote: true do %>
           <i class="fas fa-trash-alt ml-4" style="color: red;"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>