<div class="nested-fields">
  <div class="row mx-auto mt-2">
    <div class="col-md-7 pb-3 "><strong class="yokonarabi">手順</strong><p class="mb-0 mandatory text-center yokonarabi">必須</p>
      <%= f.text_area :explanation, class: "form-control", placeholder: "例）よく熱したフライパンにサラダ油をひき、鶏もも肉を炒めます。" %>
    </div>
    <div class="col-md-4 ml-6 image_wrapper">
      <%= f.attachment_field :process_image, class: 'img_field', style: 'display:none;' %>
      <%= attachment_image_tag @recipe.explanations[f.index.to_i], :process_image, fallback: 'noimage.png', class: 'center-block img-thumbnail img-responsive img_prev mt-4 pl-0' %>
    </div>
    <div class="col-1 px-0 w-auto">
      <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block mt-4" %>
    </div>
  </div>
</div>
