  <div class="nested-fields">
  <div class="row mx-auto justify-content-center">
    <div class="col-md-6 pb-3"><%= f.text_area :explanation, class: "form-control", placeholder: "作り方" %></div>
    <div class="col-md-4"><%= f.attachment_field :process_image %></div>
    <div class="col-1 px-0 w-auto">
      <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
</div>
