<div class="container">
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2> <%= I18n.t("errors.messages.not_saved", count:  @recipe.errors.count, resource: @recipe.class.model_name.human.downcase)%></h2>
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'form', recipe: @recipe %>
</div>