<div class="container">
  <ul>
    <% @categories.each do |category| %>
      <li>
        <%= category.name %>
        <ul class="ml-3">
          <% category.children.each do |child| %>
            <li>
              <%= child.name %>
              <ul class="ml-3">
                <% child.children.each do |gchild| %>
                  <li>
                    <%= gchild.name %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
<%= link_to "カテゴリ作成", new_admin_category_path %>