/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kosugi&family=Kosugi+Maru&family=Reem+Kufi:wght@500&family=Zen+Kaku+Gothic+New&display=swap');
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

// .select2-container:not(:nth-child(1)){
//   display: none !important;
// }

main{
 min-height: 80vh;
}

.wrap-original{
  overflow: hidden;
}

//header
a {
  color:#cd853f; text-decoration:none;
}

a:visited { color: #8b4513; }


.icon{
  color: #ff8c00;
}

header{
  height: 100px;
  background-color: #fff5ee;
}

.logo{
 margin: 0;
 padding: 0;
 font-size: 1.9rem;
 font-family: 'Dela Gothic One', sans-serif;
}

.logo-span {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.9rem;
  text-align: center;
  font-family: 'Reem Kufi', sans-serif;
}

.inline-flex{
  display: inline-block;
  margin: 0 10px;
}

.right {
    margin: 0 0 0 auto;
}

.font-awesome-text{
  font-size: 10px;
  font-family: 'Kosugi maru', sans-serif;
  margin: 7px;
}

footer{
  width: 100%;
  height: 100px;
  background-color: #fff5ee;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#696969;
}

//top-page

.top-image{
  height: 500px;
  width: 100%;
  background-image: url("top-image.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
}

.top-image ul{
  position: absolute;
    top: 10%;
    left: 20%;
    list-style: none;
    font-size: 30px;
    font-family: 'Dela Gothic One', sans-serif;
    color: #f5f5f5;
    text-shadow:1px 0 5px black;
}

.top-image li{
  font-size: 50px;
}

.top-title-font{
  font-family: 'Dela Gothic One', sans-serif;
  color:#696969;
  font-size: 40px;
}

// .new-top-title-font{
//   font-family: 'Dela Gothic One', sans-serif;
//   color:#696969;
//   font-size: 40px;
// }

.itiranbtn{
  font-size: 20px;
}

.recipe-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

// .view-img:last-of-type{
//   display: none;
// }

.title-font-color{
   color: #d2691e;
   font-size: 25px;
}

.date-color{
  color:#708090;
  font-size: 15px;
}

.nypage-index{
   color: #d2691e;
   font-size: 18px;
}

.recipe-title{
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 4vh;
}

.recipe-midashi{
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.midashi{
  font-family: 'Kosugi maru', sans-serif;
}

.category-size{
  font-size: 20px;
}

.category-point{
  list-style-type: none
}

.category-hide{
  display: none;
}

.category-font-p{
  font-size: 25px;
  font-family: 'Kosugi maru', sans-serif;
}

.category-font-c{
  font-size: 20px;
  font-family: 'Kosugi maru', sans-serif;
}

.grandchild{
  border: solid;
  background-color: #f5f5f5;
}
//my_page

.delete{
  color: red;
}

.right{
  margin: 0 0 0 auto;
}

.mypage-image{
}

.mypage-font{
  font-size: 25px;
  color: #d2691e;
  font-family: 'Kosugi maru', sans-serif;
}

.mypage-detal{
  font-size: 15px;
  color: #708090;;
}


.bg{
  background-color: #fff5ee;
}

.on-bg{
  background-color: #fff;
}

.submit-prace{
  display: flex;
  justify-content: center;
  align-items: center;
}

 .name-field {
  display: flex;
  justify-content: center;
  //align-items: center;
  flex-flow: column;
}

 .btn-potition{
   text-align: right;
 }

//recipe詳細

.defolt-none{
  display: none;
}

.rd-title{
font-size: 12px;
}

.bookmarktag{
  color: #f08080;
}

.recipe-moji{
  font-family: 'Kosugi maru', sans-serif;
  color: #000;
}

.category-font{
  font-family: 'Kosugi maru', sans-serif;
  color: #000;
  font-size: 19px;
}

.cart-moji{
  font-family: 'Kosugi maru', sans-serif;
  color: #fff;
}

.recipe-show-image{
  height: 250px;
  width: 250px;
}

//recipe-new
.yokonarabi{
  display: inline-block;
  margin-right: 5px;
}

.add-bottom{
  font-family: 'Kosugi maru', sans-serif;
  color: #696969;
}

.list-present{
  border: solid;
  background-color: #f5f5f5;
  font-family: 'Kosugi maru', sans-serif;
  height: 35px;
  text-align:center;
  font-size: 14px;
}

//list
.h100{
 min-height: 80vh;
}

.center-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mandatory{
  background-color: #ff8c00;
  color: #fff;
  width: 50px;
}

.mandatory-num{
  background-color: #ff8c00;
  color: #fff;
  width: 108px;
}

.mandatory-seiyaku{
  background-color: #ff8c00;
  color: #fff;
  width: auto;
}

.date-pa{
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

.date-font{
  font-size: 18px;
  font-family: 'Kosugi maru', sans-serif;
  color:#696969;
}

.date-potition-index{
  margin-left: 116px;
  margin-right: auto;
}

.comment-wrap{
  word-wrap: break-word;
}

.text-width{
  width: 370px;
  margin-left: 52px;
  margin-right: auto;
}

.end{
  margin-top: 30px;
  margin-left: 45px;
}

.s-btn{
  width: 30%;
  height: 50px;
}

.bg-image{
  width: 100%;
  height: 500px;
  object-fit: cover;
}



.recipe-img-create {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.customer-img-lg{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

//一覧

.name-font{
  font-family: 'Kosugi maru', sans-serif;
  color: #d2691e;
  font-size: 20px;
}


a {
    text-decoration: none;
}

.userList{
  ext-decoration: none;
}

@media screen and (max-width: 1199.98px) {
.recipe-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

#star-rate-average{
  display: none;
}

#star-rate-0{
  display: none;
}

#star-rate-average_1{
  display: none;
}

#star-rate-average_2{
  display: none;
}

#star-rate-average_3{
  display: none;
}

#star-rate-average_4{
  display: none;
}

}

@media screen and (max-width: 1940.98px) {
.recipe-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  }
}

@media screen and (max-width: 1378.98px) {
  .recipe-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  }


}

@media screen and (max-width: 1057.98px) {
.bookmark-img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
}

@media screen and (max-width: 991.98px) {

nav{
  z-index: 99;
  background-color: #fff5ee;
}

.categories{
  display: none;
 }

header{
  height: 100px;
  background-color: #fff5ee;
}

.logo{
 margin: 0;
 padding: 0;
 font-size: 1.9rem;
 font-family: 'Dela Gothic One', sans-serif;
}

.logo-span {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.9rem;
  text-align: center;
  font-family: 'Reem Kufi', sans-serif;
}

.inline-flex{
  display: inline-block;
  margin: 0 10px;
}

.right {
    margin: 0 0 0 auto;
}



footer{
  width: 100%;
  height: 100px;
  background-color: #fff5ee;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#696969;
}

//top-page
.top-title-font{
  font-family: 'Dela Gothic One', sans-serif;
  color:#696969;
  font-size: 40px;
}

.recipe-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.title-font-color{
   color: #d2691e;
   font-size: 25px;
}

.date-color{
  color:#708090;
  font-size: 15px;
}

.nypage-index{
   color: #d2691e;
   font-size: 18px;
}

.view-img:last-of-type{
  display: block;
}

.category-hide{
  display: block;
}
// 詳細ページ
.recipe-show-image{
  height: 400px;
  width: 400px;
  max-width: 100%;
}

.edit-hide{
  display: none;
}

.defolt-none{
  display: flex;
}

.detail-box{
  display:flex;
  flex-direction:column;
}

}

@media screen and (max-width: 767.98px) {

  .recipe-parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .recipe-img {
    height: 400px;
    width: 400px;
  }



}

@media screen and (max-width: 575.98px) {

  .recipe-parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .recipe-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
  }

}


.txt-hide{
display: none;
}

button.more {
width: 200px;
height: 50px;
margin: 20px auto;
display: block;
background-color: #666;
color: #fff;
padding:10px 15px;
border: none;
outline: 0;
transition: .5s;
-erbkit-transition: .5s;
}

button.more::after {
content: "コメント";
transition: .2s;
-erbkit-transition: .2s;
}

button.more.on-click::after{
content: "閉じる";
}

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 100%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #deb887;
  border: 1px solid #fff;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #6c3524;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #fff;
  border-top: none;
}

#tab-contents p {
  color: #deb887;
  line-height: 2.5;
}

.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

.recipe_img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

.bg_img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

.profile_img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

body {
  font-family: "メイリオ", sans-serif;
}

.num-bg{
  width: 5%;
  background-color: #ffa500;
}



