/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .name-field {
  display: flex;
  justify-content: center;
  //align-items: center;
  flex-flow: column;
}

 .btn-potition{
   text-align: right;
 }

.center-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mandatory{
  background-color: red;
  color: #fff;
  width: 50px;
}

.mandatory-num{
  background-color: red;
  color: #fff;
  width: 108px;
}

.date-potition{
  text-align: right;
}

.date-potition-index{
  margin-left: 116px;
  margin-right: auto;
}

.text-width{
  width: 370px;
  margin-left: 52px;
  margin-right: auto;
}



.s-btn{
  width: 30%;
  height: 50px;
}

.bg-image{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.recipe-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.recipe-img-create {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.customer-img-lg{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.title-font-color{
   color: #d2691e;
}

a {
    text-decoration: none;
}

.userList{
  ext-decoration: none;
}

@media screen and (max-width: 1199.98px) {
.recipe-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

#star-rate-average{
  display: none;
}

#star-rate-0{
  display: none;
}

#star-rate-average_1{
  display: none;
}

#star-rate-average_2{
  display: none;
}

#star-rate-average_3{
  display: none;
}

#star-rate-average_4{
  display: none;
}

}

@media screen and (max-width: 1940.98px) {
.recipe-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  }
}

@media screen and (max-width: 1378.98px) {
  .recipe-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  }
}

@media screen and (max-width: 1057.98px) {
.bookmark-img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
}

@media screen and (max-width: 991.98px) {
   .categories{
    display: none;
  }

}

@media screen and (max-width: 767.98px) {
  .recipe-img {
    height: 150px;
    width: 150px;
  }



}

@media screen and (max-width: 575.98px) {
    .recipe-img {
    height: 100px;
    width: 100px;
  }
}


.txt-hide{
display: none;
}

button.more {
width: 200px;
height: 50px;
margin: 20px auto;
display: block;
background-color: #666;
color: #fff;
padding:10px 15px;
border: none;
outline: 0;
transition: .5s;
-erbkit-transition: .5s;
}

button.more::after {
content: "コメント";
transition: .2s;
-erbkit-transition: .2s;
}

button.more.on-click::after{
content: "閉じる";
}

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 100%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #deb887;
  border: 1px solid #fff;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #6c3524;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #fff;
  border-top: none;
}

#tab-contents p {
  color: #deb887;
  line-height: 2.5;
}

.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

.recipe_img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

body {
  font-family: "メイリオ", sans-serif;
}

.num-bg{
  width: 5%;
  background-color: #ffa500;
}

.date-color{
  color:#708090;
  font-size: 10px;
}

.font-awesome-text{
  font-size: 4px;
}

.top-text{
  color:#696969;
}